ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item {
  width: 40px;
  height: 40px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
  text-decoration: none;
}

.logo-studio {
  color: #2e2f42;
}

.header-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.header-icon {
  display: block;
  fill: #2f2f37;
}

.nav-list {
  display: none;
}

.address {
  display: none;
}

/* #region mobile-menu header*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  padding: 72px 24px 40px 16px;
  max-width: 320px;
  margin: 0 auto;
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-address {
  margin-top: auto;
}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mobile-close-btn:hover,
.mobile-close-btn:focus {
  background-color: #404bbf;
}
.mobile-close-btn:hover .mobile-close-icon,
.mobile-close-btn:focus .mobile-close-icon {
  fill: #ffffff;
}
.mobile-menu .nav-link.current,
.mobile-menu .nav-link:hover,
.mobile-menu .nav-link:focus {
  color: #404bbf;
} /* #endregion mobile-menu header*/

/* #region tablet-header */
@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }
  .page-header .container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .nav-link.current {
    color: #404bbf;
  }
  .nav-link {
    position: relative;
  }
  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address {
    display: flex;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address a {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }
} /* #endregion tablet-header */

/* #region desktop-header */
@media screen and (min-width: 1158px) {
  .page-header .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
      0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }
  .nav a:hover,
  .nav a:focus {
    color: #404bbf;
  }
  .nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
  }
  .nav-link {
    position: relative;
  }
  .nav-link.current {
    color: #404bbf;
  }
  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .nav-item.current .nav-link {
    color: #404bbf;
  }
  .nav a {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav ul {
    display: flex;
    gap: 40px;
  }
  .address {
    margin-left: auto;
  }
  .address-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
  }
  .address a {
    font-style: normal;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address a:hover,
  .address a:focus {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
  }
}
/* #endregion desktop-header */

/* #endregion header */

/* #region nav-mobile */
.mobile-menu-navig-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 168px;
}

.mobile-menu-navig-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-navig-item a:hover,
.mobile-menu-navig-item a:focus {
  color: #404bbf;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.mobile-menu-adr-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-adr-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-list li:first-child .mobile-menu-adr-link {
  color: #4d5ae5;
}

.mobile-menu-adr-item a:hover,
.mobile-menu-adr-item a:focus {
  color: #4d5ae5;
}

.mobile-menu-social-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}

.mobile-icon-socialmedia {
  fill: #ffffff;
}
/* #endregion nav-mobile */

/* #region solutions */
.solutions {
  background-color: #2e2f42;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/mobile-img/solution.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 72px 0;
  max-width: 1440px;
}

.solutions .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  max-width: 216px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media (min-resolution: 2x) {
  .solutions {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/mobile-img/solution@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .solutions {
    padding: 112px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/tablet-img/solution-tabl.png);
  }

  @media (min-resolution: 2x) {
    .solutions {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/tablet-img/solution-tabl@2x.png);
    }
  }
  h1 {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .solutions {
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);
  }
  @media (min-resolution: 2x) {
    .solutions {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office@2x.png);
    }
  }
  h1 {
    margin-bottom: 48px;
  }
}

/* #endregion solutions */

/* #region our-featured */

.our-features {
  padding: 96px 0;
}

.icon-bg-features {
  display: none;
}

.features-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .our-features {
    padding: 96px 0;
  }

  .features-name {
    display: flex;
    justify-content: flex-start;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .our-features {
    padding: 120px 0;
  }
  .our-features ul {
    display: flex;
    gap: 24px;
  }

  .our-features li {
    width: 264px;
  }

  .our-features h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .our-features p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .our-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .icon-bg-features {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: #8e8f99 1px solid;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* #endregion our-featured */

/* #region our-team */

.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.our-team-item img {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 32px;
}

.our-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.our-team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
  margin: 0 auto;
}

.our-team ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.our-team .team-card {
  display: block;
  width: 100%;
  padding: 32px 16px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-bg {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-socialmedia {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .icon-socialmedia,
.social-link:focus .icon-socialmedia {
  fill: #ffffff;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .our-team .container {
    width: 584px;
  }

  .our-team ul {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    row-gap: 64px;
  }

  .our-team-item {
    margin: 0;
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
  }

  .our-team .container {
    width: 1158px;
    margin: 0 auto;
  }

  .our-team ul {
    display: flex;
    gap: 24px;
  }

  .our-team-item {
    box-shadow:
      0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .our-team img {
    display: block;
  }

  .our-team-item {
    width: calc((100% - 72px) / 4);
  }
}

/* #endregion our-team */

/* #region  our-portfolio*/

.our-portfolio {
  padding: 96px 0;
}

.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  border: 1px solid #e7e9fc;
  border-top: none;
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-descr {
  display: none;
}

.portfolio-card {
  padding: 32px 16px;
}

.portfolio-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-card-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .our-portfolio-overlay {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(77, 90, 229, 1);
    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay p {
    color: #f4f4fd;
  }

  .our-portfolio li:hover .overlay {
    transform: translateY(0);
  }
  .portfolio-descr {
    inset: 0;
    position: absolute;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
  }
}

@media screen and (min-width: 1158px) {
  
  .our-portfolio {
  padding: 120px 0;
}
  
  .portfolio-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
  }
}

/* #endregion our-portfolio */

/* #region footer */

.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

.footer .social {
  gap: 16px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.logo-footer-all {
  text-align: center;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.16;
}

.logo-footer .logo-footer-web {
  color: #4d5ae5;
}

.logo-footer .logo-footer-studio {
  color: #f4f4fd;
}

.logo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  text-align: start;
}

.socialmedia-footer p,
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  padding-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-input {
  width: 100%;

  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border-color: #31d0aa;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-button {
  height: 40px;
  padding: 8px 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}

.input-icon-footer {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }

  .footer .container {
    width: 584px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 72px;
    column-gap: 24px;
  }

  .logo-footer-all,
  .socialmedia-footer {
    width: 264px;
    text-align: start;
  }

  .socialmedia-footer p {
    text-align: left;
  }

  .social {
    justify-content: flex-start;
  }

  .subscribe-title {
    display: flex;
    justify-content: flex-start;
  }

  .footer-subscribe {
    width: 100%;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
  padding: 100px 0;
}
  
  .footer .container {
    width: 1158px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
    padding-left: 15px;
  }

  .logo-footer-all {
    margin-right: 120px;
    margin-left: 0;
  }

  .socialmedia-footer {
    margin-right: 80px;
  }

  .subscribe {
    margin-left: auto;
  }

  .footer .social-link:hover,
  .footer .social-link:focus {
    background-color: #31d0aa;
  }
}
/* #endregion footer */

/* #region modal-mobile */
.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  width: 288px;
  height: 623px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  max-width: 288px;
  max-height: 80%;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  box-shadow:
    0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-descr {
  margin-bottom: 16px;
}

.modal-descr {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 36px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within .form-input {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  outline: transparent;
}

.input-wrapper:focus-within .input-icon {
  fill: #4d5ae5;
  outline: transparent;
}

.textarea-wrapper:focus-within .form-textarea {
  border-color: #4d5ae5;
}

.textarea-wrapper {
  margin-bottom: 16px;
}

.form-textarea {
  padding-left: 16px;
  padding-top: 8px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  margin-bottom: 24px;
}

.check-descr {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox svg {
  fill: white;
  opacity: 0;
}

.check-input:checked + .custom-checkbox {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.check-input:checked + .custom-checkbox svg {
  opacity: 1;
}

.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-button {
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;
}

.form-button:hover {
  background-color: #404bbf;
  color: #ffffff;
}

.form-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}
/* #endregion modal-mobile */

/* #region modal-tablet */

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .privacy-policy-link {
    margin-left: 0;
  }

  .privacy-link {
    margin-left: 0;
  }
}

/* #endregion modal-tablet */
