ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
  overflow-x: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
/* #region header */

.page-header .container {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.address {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.logo .logo-studio {
  color: #2e2f42;
}

.header-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.header-icon {
  display: block;
  fill: #2f2f37;
}

/* #region mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  padding-top: 72px;
  padding-bottom: 40px;
}

/* #endregion mobile-menu */
/* #endregion header */
