ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item {
  width: 40px;
  height: 40px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* #region header */

.page-header .container {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
  text-decoration: none;
}

.logo-studio {
  color: #2e2f42;
}

.header-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.header-icon {
  display: block;
  fill: #2f2f37;
}

.nav-list {
  display: none;
}

.address {
  display: none;
}

/* #region mobile-menu header*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  padding-top: 72px;
  padding-bottom: 40px;
  padding-right: 24px;
  padding-left: 16px;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
}
.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mobile-close-btn:hover,
.mobile-close-btn:focus {
  background-color: #404bbf;
}
.mobile-close-btn:hover .mobile-close-icon,
.mobile-close-btn:focus .mobile-close-icon {
  fill: #ffffff;
}
.mobile-menu .nav-link.current,
.mobile-menu .nav-link:hover,
.mobile-menu .nav-link:focus {
  color: #404bbf;
} /* #endregion mobile-menu header*/
/* #region tablet-header */
@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }
  .page-header .container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: 2e2F42;
  }
  .nav-link.current {
    color: #404bbf;
  }
  .nav-link {
    position: relative;
  }
  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address {
    display: flex;
  }
} /* #endregion tablet-header */
/* #region desktop-header */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
      0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }
  .nav a:hover,
  .nav a:focus {
    color: #404bbf;
  }
  .nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
  }
  .nav-link {
    position: relative;
  }
  .nav-link.current {
    color: #404bbf;
  }
  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .nav-item.current .nav-link {
    color: #404bbf;
  }
  .nav a {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav ul {
    display: flex;
    gap: 40px;
  }
  .address {
    margin-left: auto;
  }
  .address-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
  }
  .address a {
    font-style: normal;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address a:hover,
  .address a:focus {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
  }
}
/* #endregion desktop-header */
/* #endregion header */
/* #region nav-mobile */
.mobile-menu-navig-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 168px;
}

.mobile-menu-navig-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-navig-item a:hover,
.mobile-menu-navig-item a:focus {
  color: #404bbf;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.mobile-menu-adr-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 48px;
}

.mobile-menu-adr-item a:hover,
.mobile-menu-adr-item a:focus {
  color: #4d5ae5;
}

.mobile-menu-social-list {
  display: flex;
  gap: 40px;
}

.mobile-icon-socialmedia {
  fill: #ffffff;
}
/* #endregion nav-mobile */
/* #region solutions */
.solutions {
  background-color: #2e2f42;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/mobile-img/solution.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 72px 0;
  max-width: 1440px;
}

.solutions .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  max-width: 216px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion solutions */
